<div class="row">
  <h1>Welcome to Zoraab!<h1>
</div>

<div class="row">
  <div class="large-8 columns">
    <div class="panel">
      <h5>Kitter</h5>
      <p><%= link_to "Add a New Subscriber", new_sub_path %></p>
      <p><a href="/search"> Search Subscribers </a></p>
      <p><a href="/subs/"> All Subscribers </a></p>
      <p><a id ="shopify_sync" class="button" data-reveal-id="myModal"href="#">Sync Coz Inventory to Shopoify Inventory </a></p>
    </div>
  </div>

</div>

<div class="overlay">

</div>
<div id="loader">
  <div id="ballWrapper">
    <div id="ball"></div>
    <div id="ballShadow"></div>
  </div>
</div>
