<table>
  <tbody>
    <tr>
    <% items.times do |item| %>
      <td>
        <div class="preview-image-<%=item%> text-center"></div>
        <div class="text-center"><a class="next-link hide" data="<%=item%>" href="#">&raquo;</a></div>
        <div><%= text_field_tag 'item[]', nil , class: 'selection', data: item.to_s %></div>
      </td>
    <%end%>
    </tr>
  <tbody>
</table>
