  <div class = "large-5 large-push-1 columns">
    <h3> Upcoming Subscriptions </h3>
  </div>
  <%= form_tag("/batches/new", method: "get") do %>
    <div class = "large-6 columns">
      <%= submit_tag("Create Batch", class: 'button right') %>
    </div>
    <div id="upcoming-subs" class = "large-12 columns">
      <center><img src='/assets/loader.gif'></center>
    </div>

  <% end %>
