<div class="row">
  <div class="large-12 columns">
    <h3> Search by Subscriber ID </h3>
  </div>
</div>
<div class="row">
    <div class="large-6 columns">
      <%= form_tag("/search", method: "post") do %>
        <div class="row collapse">
          <div class="small-10 columns">
            <%= text_field_tag 'cid'%>
          </div>
          <div class="small-2 columns">
            <%= submit_tag("Search", class: 'button postfix') %>
          </div>
        </div>
      <% end %>

    </div>
</div>



