<% unless session[:token] %>
  <ipp:connectToIntuit></ipp:connectToIntuit>
    <% end %>
    <% if notice %>
    <div style="padding: 10px;background: gainsboro;font-weight: 900;width: 50%;"><%= notice %></div>
<% end %>
<script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>

Hello World

