.shopify-query-interface {
  margin-top: 10px;
  .button{
    width: 100%;
    margin-top: 10px;
  }
}
.shopify-orders{
  table{
    th{
      text-align: center;
    }
    width: 100%;
    text-align: center;
  }
}